@model List<Robot>
  <p>
    <a href="@Url.Action("Index", "CreateARobot")">Create a new wanted robot</a>
  </p>
  @foreach (var robot in Model) {
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-name">@robot.name</h5>
      <h5 class="card-weight_kg">@robot.weight_kg kg</h5>
      <h5 class="card-height_m">@robot.height_m m</h5>
      <h5 class="card-country">@robot.country</h5>
    </div>
  </div>
  }

 </Robot>
